@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI.woff') format('woff'),
    url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }